[Unit]
After=network.target

[Service]
User=www-data
Group=www-data
Restart=on-failure
RestartSec=30s
Type=simple
ExecStart=/usr/bin/pinion --config=/etc/pinion/config.yaml
KillMode=process
KillSignal=SIGTERM

[Install]
WantedBy=default.target
